@import 'images';
$blue: rgb(32, 166, 189);
$border: 2px solid rgba(255, 255, 255, 0.29);
$mainBackground: rgb(33, 33, 33);
$profileBorder: 7px solid rgba(255, 255, 255, 0.749);
$pageMargin: 50px 100px;

body {
  margin: 0;
  background-color: $mainBackground;
  color: white;
  .page {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url(../../src/assets/header-background.jpg);
      @include imageStyling();
      padding: 20px 100px;

      .header-space {
        margin: 45px 0 0 0;
      }
      .header-label {
        font-size: 45px;
        font-weight: bold;
      }
      .description {
        font-size: 20px;
      }
      .socials {
        display: flex;
        list-style: none;
        padding-left: 0em;
        .social-button {
          padding: 20px;
          margin: 5px;
          @include imageStyling();
        }
        .linkedin {
          background-image: url(../../src/assets/linkedin-icon.png);
        }
        .github {
          background-image: url(../../src/assets/github-icon.svg);
        }
      }
      .profile-pic {
        background-image: url(../../src/assets/profile-pic.jpeg);
        padding: 125px;
        margin: 20px;
        @include imageStyling();
        border-radius: 50%;
        border-bottom: $profileBorder;
        
      }
      .contact-info {
        padding-left: 0;
        list-style: none;
        display: flex;
        .contact-info-item {
          padding: 20px;
        }
      }
    }
    .page-content {
      margin: $pageMargin;
      display: flex;
      flex-direction: column;
    }
    .bottom-border {
      border-bottom: $border;
    }
    .skills {
      display: inline-flex;
      list-style: none;
      justify-content: space-between;
    }
    .expEdu {
      display: flex;
      flex-direction: row-reverse;
      .experience {
        padding-left: 20px;
        border-left: $border;
      }
      .education {
        padding-right: 20px;
        border-right: $border;
      }
      .list-head {
        @extend .list-emp;
        font-style: italic;
      }
      .list-emp{
        @extend .list-date;
        font-weight: bold;
      }
      .list-date{
        list-style: none;
      }

    }
    .label{
      color: $blue;
    }
    .box {
      border: 2px solid $blue;
      display: inline-block;
      padding: 7px;
    }
  }
}

